body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.allprofiles-container h1 {
    text-align: center;
    font-size: 67px;
    margin-bottom: 4rem;
    font-weight: 500;
}

.allprofiles-container h2 {
    display: none;
}

.button-container {
    text-align: center;
    margin-top: 6rem;
}

.button-container button {
    background-color: transparent;
    border: 2px solid #a55000;
    padding: 10px 25px;
    font-size: 18px;
    color: #a55000;
    font-weight: 600;
    letter-spacing: 1px;
}

.button-container button:hover {
    border: 2px solid #e06f02;
    color: #e06f02;
}

.profiles-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.profile {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 150px;  
}

.profiles-container input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    width: 100%; 
    margin-top: 20px;
}


.profile img {
    width: 200px;
    height: auto; 
    border-radius: 5px;
    border: 3px solid transparent; 
    transition: border-color 0.3s ease; 
}

.img-input-container {
    position: relative;
    display: inline-block;
}
  
.img-input-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    border: 3px solid transparent; 
    transition: border-color 0.3s ease; 
}
  
.img-input-container:hover img {
    border-color: #fff; 
}
  
.img-input-container input {
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 20px; 
    transition: color 0.3s ease; 
}
  
.img-input-container:hover input {
    color: #fff; 
}


.profile h3 {
    margin: 0;
    margin-bottom: 20px;
}

.profile button {
    border-radius: 10px;
    border: none;
    width: 5rem;
    height: 1.4rem;
    margin-bottom: 20px;
    color: #e06f02;
    background-color: #353535;
    font-weight: 600;
}


.add-profile ion-icon {
    font-size: 10rem;
    color: rgb(0, 0, 0, 0.2);
}



@media (max-width: 985px) {


    .allprofiles-container {
        overflow: hidden;
    }
   
    .profiles-container {
        flex-wrap: wrap;
        gap: 2rem;
    }

    .profile {
        margin-bottom: 20px;
        width: calc(33.33% - 20px); 
    }

    .profiles-container .add-profile {
        width: calc(33.33% - 20px);
        margin-bottom: 20px;
    }

    .button-container button {
        margin-bottom: 10rem;
        margin-top: -10rem;
    }

    .profile img {
        width: 150px;
    }

    .allprofiles-container h1 {
        font-size: 20px;
        margin-top: 12rem;
        margin-bottom: 40px ;
    }

   /* 
   .logo-container {
        position: absolute;
        text-align: center;
        transform: translateY(50%);
        top: 10%;
        left: 45%; 
        display: flex; 
        align-items: center;
    }
   

    .logo-container img {
        width: 30px;
        margin-right: 10px;
    }


    
    .allprofiles-container .logo-container h2 {
        text-align: center;
        font-size: 20px;
        display: block;
        margin: 0; /
    }
    
    */

    .profile-type {
        display: none;
    }

    .button-container {
        margin-top: 2rem;
    }
}
